body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:wheat;
}

p{
  text-align: center;
}

.score, .results {
  height: 25%
}

.container {
  height: 50%;
  display: flex;
  align-items: center;
  gap: 170px;
}

.btn {
  width: 150px;
  height: 75px;
  color: rgb(224, 224, 224);
  border-radius: 15px;
  font-size: 24px;
}

.btn.rock{
  background-color: rgb(211, 9, 9);
}

.btn.rock:hover{
  background-color: rgb(201, 104, 104);
}

.btn.paper{
  background-color: green;
}

.btn.paper:hover{
  background-color: rgb(113, 207, 113);
}

.btn.scissors{
  background-color: rgb(4, 4, 206);
}

.btn.scissors:hover{
  background-color: rgb(91, 91, 197);
}